.container {
    @media screen and (min-width: 768px) and (max-width: 991px) {
        max-width: 600px;
        padding: 20px 40px;
    }
    @include media(1200) {
        padding-left: 100px;
        padding-right: 100px;
        max-width: 1370px;
    }
}
